<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"><i data-feather="help-circle"></i></th>
      <th scope="col">Board</th>
      <th scope="col">URL</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <th><i data-feather="circle"></i></th>
        <th scope="row"><%= link_to board.name, trello_boards_show_path(board.id) %></th>
        <td><%= link_to board.url, board.url %></td>
        <td><%= board.last_activity_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
