<h2>Authentication Required</h2>
<p>The page you requested requires authentication with you Google account.</p>
<p>To authenticate, use the button below:</p>
<a class='btn btn-primary' href="/auth/google_oauth2">Sign in with Google</a>
