<!-- Based on https://getbootstrap.com/docs/4.0/examples/jumbotron/ -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Scrumwell!</h1>
    <p>Scrumwell is a Rails project that integrates Trello for scrum management that's smarter than the average sprint.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/klenwell/scrumwell/" target="_blank" role="button">
        Learn more &raquo;
      </a>
    </p>
  </div>
</div>
