// General layout settings

main.container {
  padding-top: 2em;
}

/* Navbar */
nav.navbar a.navbar.brand {
  color: white;
  font-weight: 400;
}

/* Icons */
i.material-icons {
  vertical-align: middle;
}

img.avatar {
  max-width: 64px;
  max-height: 64px;
  object-fit: cover;
  border-radius: 50%;

  &.r32 {
    width: 32px;
    height: 32px;
  }

  &.r64 {
    width: 64px;
    height: 64px;
  }
}

/* Tables */
.table {
  font-size: 0.9rem;
  border-radius: 4px;
  overflow: hidden;

  th, td {
    // Default is top aligned
    vertical-align: middle;
    padding: 0.5rem;
  }
}
