<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scrum_project.name %>
</p>

<%= link_to 'Edit', edit_scrum_project_path(@scrum_project) %> |
<%= link_to 'Back', scrum_projects_path %>
